<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
 
 <connectionStrings>
    <add name="DemoConnectionString" connectionString="Data Source=MANO\SQLEXPRESS;Initial Catalog=CarShop1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  
  <appSettings>
    <add key="Mano" value="Data Source=MANO\SQLEXPRESS;Database=CarShop1;Integrated security=true"/>
    <add key="ValidationSettings:UnObtrusiveValidationMode" value="none"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>